:root {
  --white: #FFFFFF;
  --dark: #333;
  --black: #000000;
  --grey: #ACACAC;
  --grey-1: #B6B6B6;
  --border: #E8E8E8;
}

html {
  font-size: 10px;
  font-family: 'Inter', sans-serif;
}

input {
  &:focus {
    outline: none !important;
  }
}

button {
  appearance: none;
  cursor: pointer;

  &:focus {
    appearance: none;
  }
}

:focus {
  outline: none !important;
}

.body {
  margin: 0rem;
  padding: 0rem;
  height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1.2;
}

.wrap {
  background: var(--white);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 4rem 2rem 2rem;
  height: 50rem;
  max-width: 35rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media(max-width: 380px) {
    max-width: 29rem;
  }

  &-connect {
    display: flex;
    flex-direction: column;
    flex: 1;

    .text-center {
      text-align: center;
    }

    p {
      max-width: 27.8rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.4;
      letter-spacing: -0.03em;
      color: var(--black);
    }
  }
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: -0.03em;
  color: var(--black);
  line-height: 2;
}

.logo {
  width: 5rem;
  height: 8.8rem;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.btn {
  background-color: var(--white);
  border: 0.02rem solid var(--grey);
  box-shadow: 0rem 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  margin-bottom: 3.2rem;
  max-width: 25rem;
  width: 100%;
  height: 5.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.2;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s;
  cursor: pointer;

  &:hover {
    box-shadow: 0rem 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    width: 2.4rem;
    height: 3.8rem;
    margin-right: 2.4rem;

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }
  }

  &-wrap {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__small {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}

.logged-wrap {
  padding: 1rem 2rem;
  flex-direction: column;
  display: none;
  width: 100%;

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: 0.1rem solid var(--border);
    box-sizing: border-box;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin: 0rem;
    width: fit-content;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: -0.03em;
    color: var(--black);
    margin-left: auto;
    margin-right: auto;

    h2 {
      margin: 0rem;
      font-size: 1.5rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        font-weight: bold;
      }
    }
  }

  &__img {
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 1.4rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      border-radius: 50%;
    }
  }
}

.logged-in{
  &__img {
    margin-left: 0rem;
    margin-right: 0.8rem;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.app {
  display: flex;
  flex-direction: column;

  &-btn {
    max-width: 11.6rem;
    width: 100%;
    margin: 0rem 0.8rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: -0.03em;
    color: var(--black);
    background-color: var(--white);
    border: 0.1rem solid var(--border);
    border-radius: 0.5rem;
    transition: all 0.35s;

    &:hover {
      background-color: var(--dark);
      color: var(--white);
    }
  }
}

.text-field {
  margin-top: 1.4rem;
  margin-bottom: 1rem;
  width: 100%;

  &__input {
    width: calc(100% - 2rem);
    background: var(--white);
    border: 0.1rem solid var(--border);
    border-radius: 0rem;
    resize: none;
    height: 13.8rem;
    color: var(--black);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4;
    letter-spacing: -0.03em;
    padding: 1rem;
    font-family: 'Inter', sans-serif;

    &::placeholder {
      color: var(--grey-1);
    }
  }
}
